py<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wildfires</title>
  
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />>
  
  <!--D3 cdn-->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
  />
</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>U.S. Wildfires Dashboard</h1>
    </div>
    <div class="news">
      <div class="col-md-12">
        <h2>Sample data 1</h2>
      </div>
    </div>

    <div class ="row">
      <div class="col-md-6">
        <!-- </div class="chart3"> -->
          <div id="stacked-count-plot"></div>
        <!-- </div> -->
      </div>
      <div class="col-md-6">
        <!-- </div class="chart3"> -->
          <div id="stacked-size-plot"></div>
        <!-- </div> -->
      </div>
    </div>

    <!-- adding in dropdown menu to select each state -->
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>State Code 1:</h5>
            <select id="selDataset">
            </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <h5>State Code 2:</h5>
            <select id="selDataset2">
            </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <!-- </div class="chart1"> -->
          <div id="time-count-plot"></div>
        <!-- </div> -->
      </div>
      <div class="col-md-6">
        <!-- </div class="chart2"> -->
          <div id="time-size-plot"></div>
        <!-- </div> -->
      </div>      
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>Select Year:</h5>
            <select id="selDataset3">
            </select>
        </div>
      </div>
    </div>

    <div class ="row">
      <div class="col-md-4">
        <!-- </div class="chart3"> -->
          <div id="bar-count"></div>
        <!-- </div> -->
      </div>
      <div class="col-md-4">
        <!-- </div class="chart4"> -->
          <div id="bar-size"></div>
        <!-- </div> -->
      </div>
      <div class="col-md-4">
        <!-- </div class="chart5"> -->
          <div id="bar-avg"></div>
        <!-- </div> -->
      </div>
    </div>


      <div class="col-md-6">
        <div id="table-area" class="">
          <table id="top20-table" class="table table-striped">
            <h2>Top 20 US Wildfires</h2>
            <thead>
              <th class="table-head">Date</th>
              <th class="table-head">Name</th>
              <th class="table-head">Size: Acres Burned</th>
              <th class="table-head">State</th>
              <th class="table-head">Cause</th>
            </thead>
            <tbody id="top20-body">
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Map of Top 20 US Wildfires</h2>
        <h3>1992 - 2015</h3>
        <div id="map"></div>
      </div>



    <div class ="row">
      <div class="table_image">
        <div class="thumbnails">
          <div class="col-md-8">
            <h2>Sample image 1</h2>
          </div>
        </div>
        <div class="col-md-4">
          <h2>Sample table 1</h2>
            <table class="table table-striped">
            </table>
        </div>
      </div>
    </div>
  </div> 
  <div class ="row">
    <div class="col-md-6">
      <br>
      <div id="map"></div>
    </div>
  </div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- API key -->
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>



  <!-- <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script> -->
  <!-- <script src="../static/js/app.js"></script>
  <script src="static/js/app.js"></script> -->
</body>

</html>
